.main-item-container {
  border-radius: 3px;
  padding-left: 3px;
}

.list-item-container {
  display: flex;
  margin-bottom: 6px;
  padding: 2px;
}

.list-name-container {
  padding-left: 4px;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
}

.id-container {
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
}
