.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(40px, 80%, 100px);
  width: clamp(40px, 95%, 100px);
  outline: 3px sloid blue;
  margin-right: 20px;
  margin-top: 15px;
}

.image-container:hover {
  cursor: pointer;
  border-radius: 5px;
}

.image {
  height: clamp(40px, 80%, 80px);
  width: clamp(40px, 80%, 80px);
}

.info-container {
  background-color: #f62d14;
  height: clamp(40px, 80%, 300px);
  width: clamp(40px, 70%, 200px);
}

.name-type-container {
  border: 2px solid #002147;
  border-radius: 5px;
  width: 100%;
  height: clamp(40px, 30%, 100px);
}

.name-container {
  background-color: #f62d14;
  color: #fbf7f5;
  font-size: 14px;
  text-align: center;
  padding: 1px 1px 2px;
  width: 100%;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  letter-spacing: 0.6px;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.3rem, 70%, 0.8rem);
}

.type-container {
  background-color: #fbf7f5;
  font-size: small;
  text-align: center;
  padding: 3px 1px 4px;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.5rem, 70%, 0.6rem);
  width: 100%;
}

.weight-height-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #002147;
  width: 100%;
  margin-top: 7px;
  border-radius: 5px;
  background-color: #fbf7f5;
  font-size: small;
  box-shadow: inset 6px 0 0 #f62d14, inset -6px 0 0 #f62d14;
}

.weight-container {
  flex-grow: 1;
  border-bottom: 1.7px dotted #002147;
  padding: 2px;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.3rem, 70%, 0.6rem);
}

.height-container {
  flex-grow: 1;
  padding: 2px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.5rem, 70%, 0.6rem);
}

@media all and (max-width: 600px) {
  .weight-container,
  .height-container {
    font-size: 8px;
  }
}
