.nav-container {
  display: flex;
  background-color: gray;
  height: 50px;
  align-items: center;
}

nav h1 {
  margin: auto;
}

.links {
  display: flex;
  margin-right: 20px;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  color: antiquewhite;
}

.logo {
  margin-left: 20px;
}
