.homescreen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  height: 210px;
  margin: 10px;
}

.list-data-container {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.pokemon-list-component {
  border: 2px solid #002147;
  border-radius: 5px;
  padding: 4px;
  background-color: #fbf7f5;
  width: 150px;
  height: 170px;
  margin-left: 25px;
  overflow-y: auto;
}

.pokemon-list-component::-webkit-scrollbar {
  background-color: #fbf7f5;
  width: 5px;
}

.pokemon-list-component::-webkit-scrollbar-thumb {
  background-color: #f62d14;
  border-radius: 1px;
}

.pokemon-list-component::-webkit-scrollbar-thumb:hover {
}

.pokemon-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.search-pokemon-form {
  margin-bottom: 15px;
}
